.icn
{
  font-size: 12px;
}
.deleteIcon
{
  color: #FF0060;
}
.menu
{
  width: 90px;
}
.fa-ul
{
  list-style-type: none;
  margin-left: 15px !important;
  padding-left: 0;
}
.icn:hover
{
  background-color: #F4F4F4;

}
