.product
{
  margin: 60px 27.5px 0 27.5px  ;
  width: 165px;
  height: 252px ;

}
.image
{
  height: 124px ;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.price
{
  background-image: linear-gradient(to right, #2d1996 , #591ff8);

}
.title
{
  height: 50px;
  overflow-y:hidden;
}
.vat
{
  color: #591FF8;
  font-size: 12px;

}
.icn
{
  width: 30px;
  height: 30px;
  border-radius: 90px;
  background-color: #F4F4F4;
  top: 5px;
  right: 30px;
}
.icn:hover
{
  cursor: pointer;
}

.menu1
{
  top: 5px;
  right: 65px;
  background-color: #fff;
  display: none;
}
