.product
{
  margin: 60px 27.5px 0 27.5px  ;
  width: 165px;
  height: 252px ;

}
.image
{
  height: 124px ;
}
.price
{
  background-image: linear-gradient(to right, #2d1996 , #591ff8);

}
.title
{
  height: 50px;
  overflow-y:hidden;
}
